html, body {
    height: 100%;
    margin: 0;  
  }
  
  .mainPage {
    height: 108%;
    background-color: wheat;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 5rem;
    overflow-y: auto; 
  }