.noteBlockMainApp{
    width: 100%;
    height: 116.4%;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}
.textAreaNoteBlock{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    border: none;
    resize: none;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    outline: none;
}

.headerNoteBlock{
    background-color: #cfcece;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  10px;
}

.buttonNoteBlock {
    background-color: #cfcece;
    border: none;
    padding: 10px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    outline: none;
}