.barra {
    right: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #2257D6 url(../img/3.png) repeat-x 0 0;
    height: 31px;
}

.logo {
    position: absolute;
    margin-left: 0px;
    margin-top: 2px;
    height: 95%;
}

.rightCorner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin-top: 4px;
    margin-right: 15px;
    gap: 15px; 
}

.imagesCornerLogo {
    height: 15px; 
    margin-bottom: 0rem;

}

.taskBar {
    background: transparent url(/images/taskbar_resize.png) no-repeat 0 0;
    margin-bottom: 0.35rem;
}

.iconButton2 {
    background: none; 
    border: none; 
    padding: 0;
    cursor: pointer; 
    display: flex;
}

.iconButton2:focus {
    outline: none;
}
