.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 22%;
}

.iconButton:focus {
    outline: none; 
}

.iconsPicture {
    width: 2.25rem;
    height: 2.25rem;
    object-fit: cover;
    margin-left: 0.5rem;
}

.iconsP {
    font-size: 0.7rem;
    color: white;
    margin-top: 0.1rem; 
}

