body {
    background: #2257D6 url(../img/1.jpg) repeat-x 0 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    
}
.iconsContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 2rem;
    margin-top: 2rem;
}
.allDivs {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr; 
    width: 100%; 
}

